h1, h2, h3, h4, p , li{
  font-family: Tahoma, sans-serif;
}
body {
  background-color: rgb(160, 193, 255);
}
h1 {
  text-align: center;
  padding: 10px 10px;
}
#main-navbar {
  background-color: rgb(81, 129, 206);
  overflow: hidden;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 20px 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}
#main-navbar ul li a:hover {
  background-color: rgb(145, 165, 231);
}
#currpage {
  background-color: rgb(113, 140, 230);
}
#contact {
  text-align: center;
}
#contact img {
  width: 20%;
}
img, video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 50%;
  }
#resume section {
  margin: 3em;
}
#restaurants section {
  text-align: center;
  margin: 1em;
}
#winter section {
  text-align: center;
}
#winter .column {
  float: left;
  width: 31%;
  padding: 20px;
}
#restaurants .column {
  float: left;
  width: 31%;
  padding: 20px;
}
.row {
  display: table;
}
#winter .column {
  float: left;
  width: 31%;
  padding: 20px;
}
#restaurants .column {
  float: left;
  width: 31%;
  padding: 20px;
}
.row {
  display: table;
}
.item {
  padding: 40px;
  text-align: center;
  background-color: #c5ceff;
}

#map {
  width: 850px;
  height: 600px;
  background-color: white;
  border: solid rgb(81, 129, 206) 5px;
  margin-right: auto;
  margin-left: auto;
}